:root {
    --bg: black;
    --fg: lime;
    --font: "Courier Prime", monospace;
}

body {
    margin: 0;
    padding: 0;
    font-size: 23px;
    cursor: text;
}

* {
    background-color: var(--bg);
    color: var(--fg);
    font-family: var(--font);
    --sel-bg: var(--fg);
    --sel-fg: var(--bg);
}

#console {
    user-select:text;
    margin: 0;
    padding: 10px;
    max-width: 100%;
    min-height: calc(100vh - 20px);
    white-space: pre-wrap;
}

#title-simulator {
    display: none;
}

.input:focus {
    outline:none;
}

::selection {
    background-color: var(--sel-bg);
    color: var(--sel-fg);
}